html,body{
    text-align: center;
    background: #eee;
    margin: 0;
    padding:0;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
#main{
    min-height: 100vh;
    margin:  0 auto;
    padding: 5px;
    background: #FFFBF1;
    color: #222;
    font-family: sans-serif;
}
.programs{
    list-style-type: none;
    width:  940px;
    margin: auto;
    overflow: hidden;
    display: block;
}
.programs a,
.programs a:hover
.programs a:visited
.programs a:active{
    text-decoration: inherit;
    color: inherit;
}
.programs li{
    display: block;
    cursor: pointer;
    float: left;
    width: 120px;
    margin: 50px;
    padding: 20px;
    overflow: hidden;
}
.programs li:hover{
    background: rgba(225,225,225,.5);
    color:  #E05519;
}
.programs li .fa{
    font-size: 110px;
}
::selection {
  background: #E05519;; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #E05519;; /* Gecko Browsers */
}
.card  .fa{
    font-size: 110px;
}
.card .news-head{
    font-size: 60px;
    max-width: 900px;
    margin: auto;
}


#mycal{
    margin: 10px auto;
    text-align: center;
}

.yui3-calendar-day,
.yui3-calendar-prevmonth-day,
.yui3-calendar-nextmonth-day,
.yui3-calendar-weekday{
    font-size: 60px;
}

#mycal .yui3-calendar-day-selected{
    background: rgba(225,225,225,.5);
    color:  #E05519;
}

#mycal{
  text-align: center;
}
#mycal .yui3-widget{
  margin: auto;
}
#mycal .yui3-calendar-header-label{
  font-size: 60px;
  color:#E05519;
}
#mycal  .yui3-calendarnav-nextmonth,
#mycal  .yui3-calendarnav-prevmonth{
  display:  none;
}



/*@-webkit-keyframes marquee {
  from { -webkit-transform: translateY(0px); }
  to { -webkit-transform: translateY(-5000px); }
}

keyframes marquee {
  from { transform: translateY(0px); }
  to { transform: translateY(-5000px); }
}*/

#newslist{
    list-style-type: none;
    position: absolute;
    overflow: hidden;
    animation: scrollanimation 60s infinite;
    
}




#newslist img{
    zoom:300%;
}
#newslist li{
    display: inline-block;
    overflow: hidden;
    font-family: serif;
    text-align: left;

    margin: 10px;
    padding: 10px;
    font-size:60px;
}
#newslist li .title{
    font-size: 140px;
}
